.body-style {
	background-color: #EAE0D5;
	color: #1A1A1F;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 3em;
}

.navigation-items {
	display: inline;
}

.div-style {
	background-color: #197278;
	border-style: solid;
	border-color: #197278 #104A4F #104A4F #197278;
	border-width: 5px;
	border-radius: 5px;
}

.images {
	border-style: solid;
	border-color: #197278 #772E25 #772E25 #197278;
	border-width: 0px;
	border-radius: 5px;
	height: 224px;
	margin: 0 auto;
	display: block;
}

.title-style {
	font-family: 'Oleo Script', cursive;
	font-size: 3em;
}

.paragraph-text {
	font-family: 'Monda', sans-serif;
	text-align: center;
}

.quote-style {
	background-color: #C44536;
	font-family: 'Oleo Script', cursive;
	font-size: 1.5em;
	border-color: #C44536 #772E25 #772E25 #C44536;
	border-style: solid;
	border-width: 5px;
	border-radius: 5px;
}

.basic-text {
	font-family: 'Monda', sans-serif; 
}

.list-item {
	color: #C44536;
}

.list-header {

	color: #283D3B;
	font-family: 'Oleo Script', cursive;
}

footer {
	background-color: #EAC7A1;
	font-family: 'Oleo Script', cursive;
	text-align: center;
}

.center {
	text-align: center;
}