{% extends 'poll_site/base_template.html' %}
{% block main_content %}

<!DOCTYPE html>

<html>
<link rel="stylesheet" type="text/css" href="static/poll_site/styles.css">
	<body>
		<h1>Hello!</h1>
		<div class="blurb">
		<p>CORGIIIIISSSSS?!</p>
		</div>
		<div class"image">
		<img src="http://media.vanityfair.com/photos/562d85798099cf93611e41c8/master/w_900,c_limit/walking-dead-glenn-dead.jpg">
		<ul>
			{% for item in shows  %}
				<li>{{item}}</li>
			{% endfor %}
		<ul>
		<div>
	{% endblock %}
	</body>
</html>

