/*Font imports */
@import url(https://fonts.googleapis.com/css?family=Nova+Square);

/* -------------------- Main Body Styling ---------------------*/

/* Removes white space around border, changes border color, 
	sets the default font to sans-serif                  */
body {
	background-color: #eeeeee;
	font-family: sans-serif;
}


/* aligns all sections properly */
.main {
	display: inline-block;
	min-width: 450px;
	width: 60%;
}

/* Main body styling */
.page-wrapper {
	/* background color */
	margin: 0 auto 40px;
	min-width: 450px;
	width: 54%;
	background-color: #eeeeee;
	/* sets default font to Nova Square */
}

/*
	magically gets rid of annoying white bar on top */
	/* No idea why that bar was there but now it's gone*/
	/* SO HA 
	border-top: 10px;
	border-style: solid;
	border-color: #eeeeee;  
*/

/* -------------------- Header Stying ----------------------*/
.intro {
}
/* Mini CSS Zen Garden header */
.intro header h1 {
	color: #e23045;
	font-size: 2.75em;
	display: block;
	font-family: 'Nova Square', cursive;
	margin-bottom: 0;
}

/* The Beauty of CSS Design banner */
.intro header h2 {
	display: block;
	background-color: #e23045;
	border-radius: 2px;
	font-family: 'Nova Square', cursive;
	color: #fff6e0;
	padding-left: 4px;
}

/* ------------------- Blue Box Styling ---------------------*/

/* The Road to Enlightment */
.preamble {
	display: inline-block;
	background-color: #1b4549;
	border-radius: 2px;
	box-shadow: 30px 40px #7ab3b0;
	color: #fff6e0;
	margin-bottom: 55px;
}

/* All headers inside the preamble class */
.preamble h3 {
	font-family: 'Nova Square', cursive;
	margin-top: 20px;
}

/* ----------------- Styles Both Tan Boxes ------------------*/

/* Changes all body text's alignment, font size */
article p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-size: 16px;
}

h3 {
	font-family: 'Nova Square', cursive;
	margin-left: 10px;

}

/* ------------------ Styles First Tan Box ------------------*/
/* Styles the "So What is This About" section */

.explanation {
	background-color: #fff6e0;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	border-radius: 2px;
	box-shadow: 30px 35px #7ab3b0;
	display: inline-block;
	margin-bottom: 10px;


}

/* ---------------- Styles Second Tan Box -------------------*/

/* Changes all anchor tags within paragraphs to bright red */
p a {
	color: #e23045;
	text-decoration: none;
}

/* Styles the "Participation" section */
.participation {
	background-color: #fff6e0;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	border-radius: 2px;	
	box-shadow: 30px 35px #7ab3b0;
	display: inline-block;
}

/* ---------------------- Styles Footer ----------------------*/

/* Styles the HTML/CSS footer */
footer {
  text-align: right;
}

footer a {
	font-family: sans-serif;
	display: inline-block;
	margin-top: 45px;
	background-color: #908673;
	color: #fff6e0;
	text-decoration: none;
	box-shadow: 10px 10px #d8cfbc;
	border-radius: 2px;
}

/* Gives space around HTML text */
.zen-validate-html {
	padding: 3px;
}

/* Gives space around HTML text*/
.zen-validate-css {
	padding: 3px;
}

/* -------------------- Styles Sidebar ------------------------*/

/* The main class that controls all sidebar characteristics */
.sidebar {
	width: 30%;
	min-width: 225px;
	margin-left: 55px;
	display: inline-block;
	/*margin-left: 30%;*/
	vertical-align: top;
	font-family: sans-serif;
}

/* This affects anything inside the sidebar class */
.wrapper {
	color: #fff6e0;
}

/* Changes all li's characteristics */
li {
	background-color: #e23045;
	text-align: center;
	margin: 5px;
	padding: 4.5px 10px 4.5px;
	box-shadow: 10px 15px #f59581;
}

/* Removes all padding and bullets from the ul */
ul {
	padding: 0;
	list-style-type: none;
}

/* All anchor elements inside li elements inside the 
	wrapper class                                 */
.wrapper li a {
	text-decoration: none;
	color: #fff6e0;
}

/* Hides Resources Title */
.resources {
	display: none;
}
