@import url(https://fonts.googleapis.com/css?family=Pacifico);


body {
	width: 60%;
	/*background-image: url("pusheen.jpg");*/
	background-image: url("https://secure.static.tumblr.com/1a08e95483a366a991d853699472ee3e/hhnixxq/bIHn7x44p/tumblr_static_cat1d.png");
	background-repeat:repeat;
}

.blurb {
	display: inline-block;
	width: 30%;
}

h1 {
	font-family: "Pacifico", cursive;
	background-color: #fff;
	color: #fe8688;
}

