<!DOCTYPE html>
<!-- Landing Page for Portfolio page -->

<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/port_site/styles.css"
</head>
	<body>
		<div>
			<ul>
				<li><a class="active" href='http://www.imgur.com'>Home</a></li>
				<li><a href='http://www.facebook.com'>Portfolio</a></li>
				<li><a href='http://www.reddit.com'>About Katie</a></li>
			</ul>
			<!-- <h1>Katie Dover</h1> -->
		</div>
		<footer>
			<a href="http://github.com/katerdogg">
				<img src="/static/port_site/github.png" alt="katie's github"> </a>
			<a href="http://instagram.com/katiemariedover"
		</footer>
		
	</body>
</html>