/*Forum page

A forum created for user to post messages to. The design inspiration is derived from a
Star Wars poster. 

*/

/*Objectives:
 * Create a simple, one-page forum site.
 * 1. Using the colors chosen (screenshot on desktop), style
   the HTML in a simple, yet elegent design
 */
/*---------------------------Font Imports---------------------------*/

/* Cursive font */
@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* Plain font */
@import url(https://fonts.googleapis.com/css?family=Hind);

/*------------------------Main Body Stylings------------------------*/
/* Load background image */
body {
	background-image: url("blue-background.jpg");
	background-repeat:repeat;
}


.post-layout {
	width: 100%;
	margin-bottom: 40px;
}




/*--------------------------Header Styling--------------------------*/

/* Styles the "Galaxy Post header */
h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #fff;
}

/*---------------------------Form Styling---------------------------*/

/* Aligns form section properly */
/*	and styles basic form elements */
form {
	margin: 0 auto;
	display: block;
	min-width: 450px;
	width: 45%;
	padding: 30px;
	border-radius: 3px;
	box-shadow: 10px 15px #0f4456;
	background-color: #278493;
	color: #fff;
	font-family: 'Pacifico', cursive;

}

/* Changes text inside of the forms*/
input[type="text"] {
	font-family: 'Hind', sans-serif;
}

input[value="submit"] {
	font-family: 'Pacifico', cursive;
}


/*--------------------------Footer Styling--------------------------*/

/* Center footer */
footer {
	text-align: center;
}

/* Style footer */
footer a {
	color: #fff;
	text-decoration: none;
	font-family: 'Hind', sans-serif;
	display: inline-block;
	width: 50%;
	margin-top: 30px;
	background-color: #fdae4a;
	box-shadow: 5px 5px #f13e39;
	border-radius: 2px;

}

